<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.egf.core.fcore">
      <fcore
            id="EGF/workflow.creation.fcore">
      </fcore>
      <fcore
            id="EGF/workflow.generation.fcore">
      </fcore>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="dt.workflow.egf.launches.CreateWorkflowProject"
            name="Create Workflow Project">
      </command>
      <command
            id="dt.workflow.egf.launches.GenerateCode"
            name="Generate Code">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="launches.CreateWorkflowProject"
            commandId="dt.workflow.egf.launches.CreateWorkflowProject">
      </handler>
      <handler
            class="launches.GenerateCodeWorkflowProject"
            commandId="dt.workflow.egf.launches.GenerateCode">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="dt.workflow.egf.toolbar1">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="icons/Workflow.png"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="dt.workflow.egf.wizard1">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="dt.workflow.egf.menu2"
               label="Workflow">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="dt.workflow.egf.activeOnWorkflow">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:dt.workflow.egf.menu2?after=additions">
         <command
               commandId="dt.workflow.egf.launches.GenerateCode"
               icon="icons/GenerateCode.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="dt.workflow.egf.activeOnWorkflow">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="dt.workflow.egf.activeOnWorkflow">
         <with
               variable="activeMenuSelection">
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.workflow">
                     </test>
                  </adapt>
               </iterate>
            </and>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="dt.workflow.egf.category1"
            name="DT">
      </category>
      <wizard
            category="dt.workflow.egf.category1"
            class="wizard.CreateWorkflowModelWizard"
            finalPerspective="org.eclipse.sirius.ui.tools.perspective.modeling"
            icon="icons/Workflow.png"
            id="dt.workflow.egf.wizard1"
            name="Workflow Project"
            preferredPerspectives="org.eclipse.sirius.ui.tools.perspective.modeling"
            project="true">
      </wizard>
   </extension>

</plugin>
